<nav>
  <ul>
    <li><a href="/">Главная</a></li>
    <li><a href="/contacts">Контакты</a></li>
    <li><a href="/posts">Все посты</a></li>
    <li><a href="/add-post">Добавить пост</a></li>
  </ul>
</nav>